<h1>Items list</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/item/new"
                class="btn btn-info">
            <i class="fa fa-plus"> Add</i>
        </button>
    </div>
</div>

<table *ngIf="!loading && items.length >= 0" class="table mt-3 animate__animated animate__fadeIn">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Active</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>
        <label *ngIf="item.active" class="badge badge-success">Active</label>
        <label *ngIf="!item.active" class="badge badge-danger">Inactive</label>
        </td>
        <td>
          <button class="btn btn-info mr-1"
                  [routerLink]="['/item', item.id]">
            <i class="fa fa-pen"></i>
          </button>
          <button class="btn btn-danger"
                  (click)="deleteItem(item, i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="!loading && items.length === 0" class="alert alert-warning text-center mt-3 animate__animated animate__fadeIn animate__faster">
    <h4 class="alert-heading">No items found</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>

  <div *ngIf="loading" class="alert alert-info text-center mt-3 animate__animated animate__fadeIn animate__faster">
    <h4 class="alert-heading">Loading items</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
  </div>