<h1>Items list</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/item/new"
                class="btn btn-info">
            <i class="fa fa-plus"> Add</i>
        </button>
    </div>
</div>

<table class="table mt-3 animate__animated animate__fadeIn">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Active</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  
  <div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No items found</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>

  <div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Loading items</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
  </div>